<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel = 'stylesheet' href = '/stylesheets/style.css' />
		<link rel = 'stylesheet' href = '/css/bootstrap.min.css' />
	</head>
	<body>
		<% include ./partials/nav %>
		<div class="card border-primary" style="width: 50%">
			<form method="DELETE" name="userForm" action="/blogDelete/:blogid"  style="padding: 20px">
				<div class="form-group">
					<label for="summary" class="text-primary">Blog Title</label>
					<input readonly class="form-control" id="blogTitle" name="blogTitle">
					<label for="detail" class="text-primary">Blog Text</label>
					<textarea readonly class="form-control" id="blogText" name="blogText" rows="3"></textarea>
				</div>
				<input type="submit" class="btn btn-danger float-right" value="Delete Blog">
				<button class="btn btn-primary float-right" style="margin-right: 25px">Cancel</button>
			</form>
		</div>
	</body>
</html>
